.notification {
  font-size: 1.2rem;
  padding: 0 16px;
  background-color: lightgray;
  border: 2px solid darkslategrey;
  border-radius: 8px;
  color: darkslategrey;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.blog {
  padding: 0 9px;
  border: 2px solid darkslategrey;
  border-radius: 2px;
}
